name: Windows Release Build

on:
  push:
    tags:
      - "v*"

jobs:
  build-release:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Enable Windows desktop
        run: flutter config --enable-windows-desktop

      - name: Install dependencies
        run: flutter pub get

      - name: Build Windows release
        run: flutter build windows --release

      - name: Zip Windows build
        run: |
          cd build/windows/x64/runner/Release
          tar -a -c -f MakeWayTrackerApp-Windows.zip *

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/windows/x64/runner/Release/MakeWayTrackerApp-Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
